.levelContainer {
    width: 90vw;
    height: 70vh;
    margin-top: 30px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    font-family: var(--robmono);
    color: white;
}
.ide {
    flex: 1;
    width: auto;
    height: 100%;
    margin-right: 30px;
    justify-content: space-between;
}
#texty {
    /* remove styling */
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

    width: calc(100% - 20px);
    height: calc(80% - 20px);
    padding: 10px;
    border-radius: 10px;
    background: var(--codebg);
    caret-color: white;

    font-family: var(--robmono);
    font-size: var(--body);
    color: white;
}
#terminal {
    width: calc(100% - 20px);
    height: calc(20% - 50px);
    padding: 10px;
    border-radius: 10px;
    background: var(--dgrey);
}
.junkHolder {
    width: 350px;
    height: 100%;
    border-radius: 10px;
    background: var(--darkbg);
    font-size: 1rem;
    align-items: center;
}
#levelDesc {
    flex: 1;
    margin: 10px;
    width: 90%;
    height: auto;

}
.levelDesc p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.buttonContainer {
    width: 90%;
    height: 50px;
    margin: 10px;
    align-self: center;
    justify-content: space-between;
}

/*** BUTTON SIZES ***/
.button {
    font-family: var(--robmono);
    font-size: var(--subtitle);
    color: inherit;
    border: none;
    border-radius: 8px;
    width: 47%;
    padding: 5px;
    align-self: center;
}
.widebutton {
    font-family: var(--robmono);
    font-size: var(--subtitle);
    color: inherit;
    border: none;
    border-radius: 8px;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
    align-self: center;
}

/*** BUTTON COLORS ***/ 
.grey {
    background: var(--grey)
}
.orange {
    background: var(--orange);
}
.orange:hover {
    background: var(--yellow);
    cursor: pointer;
}
.green {
    background: var(--green);
}
.green:hover {
    background: var(--yellow);
    cursor: pointer;
}
.outline {
    border: 1px dotted var(--green);
    color: var(--green);
    background: var(--darkbg);
}
.outline:hover {
    background: var(--defaultbg);
    cursor: pointer;
}

/*** TUTORIAL DIVS ***/
.tutorial {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}
.hidden {
    display: none;
}
.tutBox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vh;
    background: blue;
    border-radius: 10px;
}
.thimis {
    
}
.dialog {
    
}