/*** PART PICKER ***/
.partPicker {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
}
.partBox {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    padding: 20px;
    background: var(--defaultbg);
    border-radius: 10px;
    text-align: center;
    justify-content: space-between;
}